.carousel-item img {
    width: 100% !important;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
}
    
@media (min-width: 576px) {
    .carousel-item img {
        height: 400px;
        max-height: 400px;
    }
}
@media (min-width: 992px) {
    .carousel-item img {
        height: 600px;
        max-height: 600px;
    }
}