.carousel-item img {
    width: 100% !important;
    height: 300px;
    max-height: 300px;
    object-fit: cover;
}

#carousel {
    opacity: 0;
    animation: fadein 1s;
    animation-fill-mode: forwards;
}
    
@media (min-width: 576px) {
    .carousel-item img {
        height: 400px;
        max-height: 400px;
    }
}
@media (min-width: 992px) {
    .carousel-item img {
        height: 600px;
        max-height: 600px;
    }
}

.card img {
    height: 250px;
    object-fit: cover;
}

.card-text {
    height: 150px;
}

.container {
    opacity: 0;
    animation-name: fadein;
    animation-delay: .5s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.card {
    animation: fadein 3s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
