.form-container {
    max-width: 768px;
}

.form-container, h1, button{
    opacity: 0;
    animation: fadein 1s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}